/************
*****Adjustment settings****
*************/
body{
    margin: 0;
    font-family: 'OpenSansSemiBold', sans-serif;
    width: 100%;
    color: #ffffff
}
p{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

/************
*****Header****
*************/
header{
    width: 100%;
    height: 88px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    padding: 24px 40px;
    background: rgba(255, 255, 255, 0.1);
    z-index: 99;
}
.header__logo-container{
    display: inline-block;
    float: left;
}
.logo{
    font-size: 42px;
    font-family: 'OdinRounded';
}
.header__search-container{
    display: inline-block;
    float: right;
    padding-top: 7.5px;
}
.search__link{
    display: block;
    height: 35px;
    width: 35px;
    background: url("../img/search.png") center center no-repeat;
    background-size: contain;
}

/************
*****Main****
*************/
.left-column, .right-column{
    width: 50%;
    height: 100vh;
    float: left;
    position: relative;
}
.left-column{
    background: url("../img/Rectangle-2.jpg") center center no-repeat;
    background-size: cover;
}
.right-column{
    background: url("../img/Rectangle-1.jpg")center center no-repeat;
    background-size: cover;
}
.choose-style-block{
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    text-align: center;
}
.choose-style-block__heading{
    font-family: 'HighTide-Demo';
    font-size: 75px;
    line-height: 1.1;
}
.choose-style-block__heading--cruisers{
    font-family: "dymaxionscript";
    line-height: 0.8;
    font-size: 77px;
}
.choose-style-block__slogan{
    font-family: "OpenSansCondensedLight";
    font-size: 50px;
    line-height: 85px;
}

.choose-style-block__slogan--hippie{
    line-height: 110px;
}
.choose-style-block__btn{
    border: none;
    background: rgba(255, 255, 255, 0.1);
    height: 72.5px;
    width:227.5px ;
    text-align: center;
    padding: 20px 0;
    margin-top: 103px;
    font-family: "OpenSansCondensedLight";
    font-size: 25px;
    color: #ffffff;
}

.choose-style-block__btn:hover{
    cursor: pointer;
}

/************
*****Footer****
*************/
footer{
    background-color: #595f6f;
    height: 285px;
    width: 100%;
}

/******************column1******************/
.footer__column1{
    width: 50%;
    float: left;
    padding: 30px 300px 30px 40px;
}
.logo--footer{
    font-size: 17.5px;
}
.footer__text-container{
    margin-top: 30px;
    margin-bottom: 55px;
}
.description__text{
    font-size: 17.5px;
    text-transform: uppercase;
    color: #c3c3c3;
    width: 425px;
}
.copyright-container{
    font-family: 'OdinRounded';
    font-size: 17.5px;
    color: #ffffff;
}
.description__link{
    display: inline-block;
    margin-top: 30px;
    font-family: "OpenSans";
    color: #c3c3c3;
    text-decoration: none;
    border-bottom: 1px solid #c3c3c3;
}
/******************column2******************/
.footer__column2, .footer__column3{
    width: 25%;
    float: left;
}
.footer__column2{
    padding: 95px 0 50px 28px;
    position: relative;
}
.footer__column2:before, .footer__column2:after{
    content: "";
    border-right: 1px solid #4d5362;
    height: 216px;
    position: absolute;
}
.footer__column2:before{
    left: 0;
    top: 32px;
}
.footer__column2:after{
    right: 0;
    top: 32px;
}
.nav{
    margin: 0 auto;
    width: 260px;
}
.nav__column1, .nav__column2{
    display: inline-block;
}
.nav__list{
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav__item{
    padding-right: 27px;
    padding-bottom: 20px;
}
.nav__link{
    font-family: "OpenSansLight";
    font-size: 17.5px;
    color: #c3c3c3;
    text-decoration: none;
    text-transform: uppercase;
}
/******************column3******************/

.footer__column3{
    padding-top: 60px;
    text-align: center;
}

.column3__heading{
    font-family: "OpenSansCondensedLight";
    font-size: 18px;
    text-transform: uppercase;
    margin: 0 0 10px 0;
}
.column3__btn{
    width: 230px;
    height: 60px;
    border: none;
    background: #5d6271;
    color: #ffffff;
    margin-bottom: 36px;
    font-family: "OpenSansLightItalic";
    font-size: 16px;
    padding: 15px 0;
    text-align: center;
    border-radius: 5px;
}
.column3__btn:hover{
    cursor: pointer;
}
.social-block{
    width: 239px;
    height: 55px;
    margin: 0 auto;
}
.social-block__twitter, .social-block__google, .social-block__facebook{
    width: 40px;
    height: 40px;
    float: left;
    margin: 0 22px;
}
.social-block__twitter{
    background: url("../img/social-icons.png") no-repeat;
    background-size: cover;
}
.social-block__google{
    background: url(../img/social-icons.png) -99px 0 no-repeat;
    background-size: cover;
    width: 44px;
}
.social-block__facebook{
    background: url(../img/social-icons.png) -195px 0 no-repeat;
    background-size: cover;
    width: 23px;
}